// COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;
// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$primary-color: #263b29;
$secondary-color: #e94e1a;
$light-green-color: #9EB356;
$light-yellow-color: #EFB661;

$white-color: #fff;
$dark-grey: #333333;
$dark-color: #000000;
$dark-blue-text: #000000; // For Headings

// FONT SIZE
$default-font-size: 1.5rem;
$big-font-size: 5rem;
$mid-font-size: 3rem;
