@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
}

p,
a {
  font-family: 'Fira Sans', sans-serif;
  font-size: $default-font-size;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 2rem;
  font-size: $big-font-size;
  font-weight: bold;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.section-small-title {
  margin: 0px;
  margin-bottom: 2rem;
  font-size: $mid-font-size;
  font-weight: bold;

  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.section-big-title {
  margin: 0px;
  margin-bottom: 2rem;
  font-size: $big-font-size;
  font-weight: bold;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.dark-blue-text {
  color: $dark-blue-text !important;
}

.text-color-main {
  -webkit-text-fill-color: $white-color;
  background: $secondary-color;
  // Responsive text purple style
  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: $white-color;
  }

  &:hover {
    transform: translateX(2px);
  }
}
