@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700;900&display=swap");
@import url("//fonts.cdnfonts.com/css/sf-ui-display");
html {
  @apply overflow-x-hidden;
}
body {
  font-family: "Fira Sans", sans-serif;
  @apply bg-white dark:bg-gray-900 overflow-x-hidden transition w-screen;
}
p {
  font-family: SF UI Display, sans-serif;
}
span {
  font-family: SF UI Display, sans-serif;
  @apply text-xl font-bold;
}
.jRFJkP,
.cNNJIt,
.lcUbOd {
  @apply hidden !shadow-none;
}
.eaptOe {
  @apply !shadow-none;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-thumb {
  display: none;
}
::-webkit-scrollbar-corner {
  display: none;
}
.swal-button {
  @apply !bg-orangeDDTV;
}
.swal-button:not([disabled]):hover {
  @apply !bg-orangeDDTV;
}
.swal-button:not([disabled]):focus {
  @apply !bg-orangeDDTV;
}
.swal-icon--custom {
  @apply !w-48;
}

#start {
  @apply bg-greenDDTV bg-gradient-to-r from-greenDDTV to-greenDDTV dark:bg-gradient-to-r dark:from-orangeDDTV dark:to-orangeDDTV h-48 border-t-0 text-white pb-1;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 42%, 0% 100%) !important;
  clip-path: polygon(0 0, 100% 0%, 100% 42%, 0% 100%) !important;
}

#footer {
  @apply bg-greenDDTV bg-gradient-to-r from-greenDDTV to-greenDDTV dark:bg-gradient-to-r dark:from-orangeDDTV dark:to-orangeDDTV  h-40 md:h-44 sm:h-52 md:w-auto border-t-0 text-white overflow-y-hidden;
  -webkit-clip-path: polygon(100% 3%, 0 100%, 100% 100%);
  clip-path: polygon(100% 3%, 0 100%, 100% 100%);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
